html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333;
  }

  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667;
  }

  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25;
  }

  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333;
  }

  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667;
  }

  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50;
  }

  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333;
  }

  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667;
  }

  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75;
  }

  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333;
  }

  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667;
  }

  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333;
  }

  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667;
  }

  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25;
  }

  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333;
  }

  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667;
  }

  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50;
  }

  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333;
  }

  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667;
  }

  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75;
  }

  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333;
  }

  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667;
  }

  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333;
  }

  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667;
  }

  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25;
  }

  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333;
  }

  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667;
  }

  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50;
  }

  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333;
  }

  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667;
  }

  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75;
  }

  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333;
  }

  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667;
  }

  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333;
  }

  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667;
  }

  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25;
  }

  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333;
  }

  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667;
  }

  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50;
  }

  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333;
  }

  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667;
  }

  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75;
  }

  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333;
  }

  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667;
  }

  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333;
  }

  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667;
  }

  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25;
  }

  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333;
  }

  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667;
  }

  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50;
  }

  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333;
  }

  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667;
  }

  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75;
  }

  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333;
  }

  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667;
  }

  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100;
  }
}
.text-primary {
  color: #767EB3;
}

.text-hover-primary:hover {
  color: #767EB3;
}

.bg-primary {
  background-color: #767EB3;
}

.text-primary-light-1 {
  color: #848bbb;
}

.text-hover-primary-light-1:hover {
  color: #848bbb;
}

.bg-primary-light-1 {
  background-color: #848bbb;
}

.text-primary-light-2 {
  color: #9198c2;
}

.text-hover-primary-light-2:hover {
  color: #9198c2;
}

.bg-primary-light-2 {
  background-color: #9198c2;
}

.text-primary-light-3 {
  color: #9fa5ca;
}

.text-hover-primary-light-3:hover {
  color: #9fa5ca;
}

.bg-primary-light-3 {
  background-color: #9fa5ca;
}

.text-primary-light-4 {
  color: #adb2d1;
}

.text-hover-primary-light-4:hover {
  color: #adb2d1;
}

.bg-primary-light-4 {
  background-color: #adb2d1;
}

.text-primary-light-5 {
  color: #bbbfd9;
}

.text-hover-primary-light-5:hover {
  color: #bbbfd9;
}

.bg-primary-light-5 {
  background-color: #bbbfd9;
}

.text-primary-light-6 {
  color: #c8cbe1;
}

.text-hover-primary-light-6:hover {
  color: #c8cbe1;
}

.bg-primary-light-6 {
  background-color: #c8cbe1;
}

.text-primary-light-7 {
  color: #d6d8e8;
}

.text-hover-primary-light-7:hover {
  color: #d6d8e8;
}

.bg-primary-light-7 {
  background-color: #d6d8e8;
}

.text-primary-light-8 {
  color: #e4e5f0;
}

.text-hover-primary-light-8:hover {
  color: #e4e5f0;
}

.bg-primary-light-8 {
  background-color: #e4e5f0;
}

.text-primary-light-9 {
  color: #f1f2f7;
}

.text-hover-primary-light-9:hover {
  color: #f1f2f7;
}

.bg-primary-light-9 {
  background-color: #f1f2f7;
}

.text-primary-dark-1 {
  color: #6a71a1;
}

.text-hover-primary-dark-1:hover {
  color: #6a71a1;
}

.bg-primary-dark-1 {
  background-color: #6a71a1;
}

.text-primary-dark-2 {
  color: #5e658f;
}

.text-hover-primary-dark-2:hover {
  color: #5e658f;
}

.bg-primary-dark-2 {
  background-color: #5e658f;
}

.text-primary-dark-3 {
  color: #53587d;
}

.text-hover-primary-dark-3:hover {
  color: #53587d;
}

.bg-primary-dark-3 {
  background-color: #53587d;
}

.text-primary-dark-4 {
  color: #474c6b;
}

.text-hover-primary-dark-4:hover {
  color: #474c6b;
}

.bg-primary-dark-4 {
  background-color: #474c6b;
}

.text-primary-dark-5 {
  color: #3b3f5a;
}

.text-hover-primary-dark-5:hover {
  color: #3b3f5a;
}

.bg-primary-dark-5 {
  background-color: #3b3f5a;
}

.text-primary-dark-6 {
  color: #2f3248;
}

.text-hover-primary-dark-6:hover {
  color: #2f3248;
}

.bg-primary-dark-6 {
  background-color: #2f3248;
}

.text-primary-dark-7 {
  color: #232636;
}

.text-hover-primary-dark-7:hover {
  color: #232636;
}

.bg-primary-dark-7 {
  background-color: #232636;
}

.text-primary-dark-8 {
  color: #181924;
}

.text-hover-primary-dark-8:hover {
  color: #181924;
}

.bg-primary-dark-8 {
  background-color: #181924;
}

.text-primary-dark-9 {
  color: #0c0d12;
}

.text-hover-primary-dark-9:hover {
  color: #0c0d12;
}

.bg-primary-dark-9 {
  background-color: #0c0d12;
}

.text-secondary {
  color: #DBE0FF;
}

.text-hover-secondary:hover {
  color: #DBE0FF;
}

.bg-secondary {
  background-color: #DBE0FF;
}

.text-secondary-light-1 {
  color: #dfe3ff;
}

.text-hover-secondary-light-1:hover {
  color: #dfe3ff;
}

.bg-secondary-light-1 {
  background-color: #dfe3ff;
}

.text-secondary-light-2 {
  color: #e2e6ff;
}

.text-hover-secondary-light-2:hover {
  color: #e2e6ff;
}

.bg-secondary-light-2 {
  background-color: #e2e6ff;
}

.text-secondary-light-3 {
  color: #e6e9ff;
}

.text-hover-secondary-light-3:hover {
  color: #e6e9ff;
}

.bg-secondary-light-3 {
  background-color: #e6e9ff;
}

.text-secondary-light-4 {
  color: #e9ecff;
}

.text-hover-secondary-light-4:hover {
  color: #e9ecff;
}

.bg-secondary-light-4 {
  background-color: #e9ecff;
}

.text-secondary-light-5 {
  color: #edf0ff;
}

.text-hover-secondary-light-5:hover {
  color: #edf0ff;
}

.bg-secondary-light-5 {
  background-color: #edf0ff;
}

.text-secondary-light-6 {
  color: #f1f3ff;
}

.text-hover-secondary-light-6:hover {
  color: #f1f3ff;
}

.bg-secondary-light-6 {
  background-color: #f1f3ff;
}

.text-secondary-light-7 {
  color: #f4f6ff;
}

.text-hover-secondary-light-7:hover {
  color: #f4f6ff;
}

.bg-secondary-light-7 {
  background-color: #f4f6ff;
}

.text-secondary-light-8 {
  color: #f8f9ff;
}

.text-hover-secondary-light-8:hover {
  color: #f8f9ff;
}

.bg-secondary-light-8 {
  background-color: #f8f9ff;
}

.text-secondary-light-9 {
  color: #fbfcff;
}

.text-hover-secondary-light-9:hover {
  color: #fbfcff;
}

.bg-secondary-light-9 {
  background-color: #fbfcff;
}

.text-secondary-dark-1 {
  color: #c5cae6;
}

.text-hover-secondary-dark-1:hover {
  color: #c5cae6;
}

.bg-secondary-dark-1 {
  background-color: #c5cae6;
}

.text-secondary-dark-2 {
  color: #afb3cc;
}

.text-hover-secondary-dark-2:hover {
  color: #afb3cc;
}

.bg-secondary-dark-2 {
  background-color: #afb3cc;
}

.text-secondary-dark-3 {
  color: #999db3;
}

.text-hover-secondary-dark-3:hover {
  color: #999db3;
}

.bg-secondary-dark-3 {
  background-color: #999db3;
}

.text-secondary-dark-4 {
  color: #838699;
}

.text-hover-secondary-dark-4:hover {
  color: #838699;
}

.bg-secondary-dark-4 {
  background-color: #838699;
}

.text-secondary-dark-5 {
  color: #6e7080;
}

.text-hover-secondary-dark-5:hover {
  color: #6e7080;
}

.bg-secondary-dark-5 {
  background-color: #6e7080;
}

.text-secondary-dark-6 {
  color: #585a66;
}

.text-hover-secondary-dark-6:hover {
  color: #585a66;
}

.bg-secondary-dark-6 {
  background-color: #585a66;
}

.text-secondary-dark-7 {
  color: #42434d;
}

.text-hover-secondary-dark-7:hover {
  color: #42434d;
}

.bg-secondary-dark-7 {
  background-color: #42434d;
}

.text-secondary-dark-8 {
  color: #2c2d33;
}

.text-hover-secondary-dark-8:hover {
  color: #2c2d33;
}

.bg-secondary-dark-8 {
  background-color: #2c2d33;
}

.text-secondary-dark-9 {
  color: #16161a;
}

.text-hover-secondary-dark-9:hover {
  color: #16161a;
}

.bg-secondary-dark-9 {
  background-color: #16161a;
}

.text-error {
  color: #CF2543;
}

.text-hover-error:hover {
  color: #CF2543;
}

.bg-error {
  background-color: #CF2543;
}

.text-error-light-1 {
  color: #d43b56;
}

.text-hover-error-light-1:hover {
  color: #d43b56;
}

.bg-error-light-1 {
  background-color: #d43b56;
}

.text-error-light-2 {
  color: #d95169;
}

.text-hover-error-light-2:hover {
  color: #d95169;
}

.bg-error-light-2 {
  background-color: #d95169;
}

.text-error-light-3 {
  color: #dd667b;
}

.text-hover-error-light-3:hover {
  color: #dd667b;
}

.bg-error-light-3 {
  background-color: #dd667b;
}

.text-error-light-4 {
  color: #e27c8e;
}

.text-hover-error-light-4:hover {
  color: #e27c8e;
}

.bg-error-light-4 {
  background-color: #e27c8e;
}

.text-error-light-5 {
  color: #e792a1;
}

.text-hover-error-light-5:hover {
  color: #e792a1;
}

.bg-error-light-5 {
  background-color: #e792a1;
}

.text-error-light-6 {
  color: #eca8b4;
}

.text-hover-error-light-6:hover {
  color: #eca8b4;
}

.bg-error-light-6 {
  background-color: #eca8b4;
}

.text-error-light-7 {
  color: #f1bec7;
}

.text-hover-error-light-7:hover {
  color: #f1bec7;
}

.bg-error-light-7 {
  background-color: #f1bec7;
}

.text-error-light-8 {
  color: #f5d3d9;
}

.text-hover-error-light-8:hover {
  color: #f5d3d9;
}

.bg-error-light-8 {
  background-color: #f5d3d9;
}

.text-error-light-9 {
  color: #fae9ec;
}

.text-hover-error-light-9:hover {
  color: #fae9ec;
}

.bg-error-light-9 {
  background-color: #fae9ec;
}

.text-error-dark-1 {
  color: #ba213c;
}

.text-hover-error-dark-1:hover {
  color: #ba213c;
}

.bg-error-dark-1 {
  background-color: #ba213c;
}

.text-error-dark-2 {
  color: #a61e36;
}

.text-hover-error-dark-2:hover {
  color: #a61e36;
}

.bg-error-dark-2 {
  background-color: #a61e36;
}

.text-error-dark-3 {
  color: #911a2f;
}

.text-hover-error-dark-3:hover {
  color: #911a2f;
}

.bg-error-dark-3 {
  background-color: #911a2f;
}

.text-error-dark-4 {
  color: #7c1628;
}

.text-hover-error-dark-4:hover {
  color: #7c1628;
}

.bg-error-dark-4 {
  background-color: #7c1628;
}

.text-error-dark-5 {
  color: #681322;
}

.text-hover-error-dark-5:hover {
  color: #681322;
}

.bg-error-dark-5 {
  background-color: #681322;
}

.text-error-dark-6 {
  color: #530f1b;
}

.text-hover-error-dark-6:hover {
  color: #530f1b;
}

.bg-error-dark-6 {
  background-color: #530f1b;
}

.text-error-dark-7 {
  color: #3e0b14;
}

.text-hover-error-dark-7:hover {
  color: #3e0b14;
}

.bg-error-dark-7 {
  background-color: #3e0b14;
}

.text-error-dark-8 {
  color: #29070d;
}

.text-hover-error-dark-8:hover {
  color: #29070d;
}

.bg-error-dark-8 {
  background-color: #29070d;
}

.text-error-dark-9 {
  color: #150407;
}

.text-hover-error-dark-9:hover {
  color: #150407;
}

.bg-error-dark-9 {
  background-color: #150407;
}

.text-info {
  color: #FFBF75;
}

.text-hover-info:hover {
  color: #FFBF75;
}

.bg-info {
  background-color: #FFBF75;
}

.text-info-light-1 {
  color: #ffc583;
}

.text-hover-info-light-1:hover {
  color: #ffc583;
}

.bg-info-light-1 {
  background-color: #ffc583;
}

.text-info-light-2 {
  color: #ffcc91;
}

.text-hover-info-light-2:hover {
  color: #ffcc91;
}

.bg-info-light-2 {
  background-color: #ffcc91;
}

.text-info-light-3 {
  color: #ffd29e;
}

.text-hover-info-light-3:hover {
  color: #ffd29e;
}

.bg-info-light-3 {
  background-color: #ffd29e;
}

.text-info-light-4 {
  color: #ffd9ac;
}

.text-hover-info-light-4:hover {
  color: #ffd9ac;
}

.bg-info-light-4 {
  background-color: #ffd9ac;
}

.text-info-light-5 {
  color: #ffdfba;
}

.text-hover-info-light-5:hover {
  color: #ffdfba;
}

.bg-info-light-5 {
  background-color: #ffdfba;
}

.text-info-light-6 {
  color: #ffe5c8;
}

.text-hover-info-light-6:hover {
  color: #ffe5c8;
}

.bg-info-light-6 {
  background-color: #ffe5c8;
}

.text-info-light-7 {
  color: #ffecd6;
}

.text-hover-info-light-7:hover {
  color: #ffecd6;
}

.bg-info-light-7 {
  background-color: #ffecd6;
}

.text-info-light-8 {
  color: #fff2e3;
}

.text-hover-info-light-8:hover {
  color: #fff2e3;
}

.bg-info-light-8 {
  background-color: #fff2e3;
}

.text-info-light-9 {
  color: #fff9f1;
}

.text-hover-info-light-9:hover {
  color: #fff9f1;
}

.bg-info-light-9 {
  background-color: #fff9f1;
}

.text-info-dark-1 {
  color: #e6ac69;
}

.text-hover-info-dark-1:hover {
  color: #e6ac69;
}

.bg-info-dark-1 {
  background-color: #e6ac69;
}

.text-info-dark-2 {
  color: #cc995e;
}

.text-hover-info-dark-2:hover {
  color: #cc995e;
}

.bg-info-dark-2 {
  background-color: #cc995e;
}

.text-info-dark-3 {
  color: #b38652;
}

.text-hover-info-dark-3:hover {
  color: #b38652;
}

.bg-info-dark-3 {
  background-color: #b38652;
}

.text-info-dark-4 {
  color: #997346;
}

.text-hover-info-dark-4:hover {
  color: #997346;
}

.bg-info-dark-4 {
  background-color: #997346;
}

.text-info-dark-5 {
  color: #80603b;
}

.text-hover-info-dark-5:hover {
  color: #80603b;
}

.bg-info-dark-5 {
  background-color: #80603b;
}

.text-info-dark-6 {
  color: #664c2f;
}

.text-hover-info-dark-6:hover {
  color: #664c2f;
}

.bg-info-dark-6 {
  background-color: #664c2f;
}

.text-info-dark-7 {
  color: #4d3923;
}

.text-hover-info-dark-7:hover {
  color: #4d3923;
}

.bg-info-dark-7 {
  background-color: #4d3923;
}

.text-info-dark-8 {
  color: #332617;
}

.text-hover-info-dark-8:hover {
  color: #332617;
}

.bg-info-dark-8 {
  background-color: #332617;
}

.text-info-dark-9 {
  color: #1a130c;
}

.text-hover-info-dark-9:hover {
  color: #1a130c;
}

.bg-info-dark-9 {
  background-color: #1a130c;
}

.text-blue {
  color: blue;
}

.text-hover-blue:hover {
  color: blue;
}

.bg-blue {
  background-color: blue;
}

.text-blue-light-1 {
  color: #1a1aff;
}

.text-hover-blue-light-1:hover {
  color: #1a1aff;
}

.bg-blue-light-1 {
  background-color: #1a1aff;
}

.text-blue-light-2 {
  color: #3333ff;
}

.text-hover-blue-light-2:hover {
  color: #3333ff;
}

.bg-blue-light-2 {
  background-color: #3333ff;
}

.text-blue-light-3 {
  color: #4d4dff;
}

.text-hover-blue-light-3:hover {
  color: #4d4dff;
}

.bg-blue-light-3 {
  background-color: #4d4dff;
}

.text-blue-light-4 {
  color: #6666ff;
}

.text-hover-blue-light-4:hover {
  color: #6666ff;
}

.bg-blue-light-4 {
  background-color: #6666ff;
}

.text-blue-light-5 {
  color: #8080ff;
}

.text-hover-blue-light-5:hover {
  color: #8080ff;
}

.bg-blue-light-5 {
  background-color: #8080ff;
}

.text-blue-light-6 {
  color: #9999ff;
}

.text-hover-blue-light-6:hover {
  color: #9999ff;
}

.bg-blue-light-6 {
  background-color: #9999ff;
}

.text-blue-light-7 {
  color: #b3b3ff;
}

.text-hover-blue-light-7:hover {
  color: #b3b3ff;
}

.bg-blue-light-7 {
  background-color: #b3b3ff;
}

.text-blue-light-8 {
  color: #ccccff;
}

.text-hover-blue-light-8:hover {
  color: #ccccff;
}

.bg-blue-light-8 {
  background-color: #ccccff;
}

.text-blue-light-9 {
  color: #e6e6ff;
}

.text-hover-blue-light-9:hover {
  color: #e6e6ff;
}

.bg-blue-light-9 {
  background-color: #e6e6ff;
}

.text-blue-dark-1 {
  color: #0000e6;
}

.text-hover-blue-dark-1:hover {
  color: #0000e6;
}

.bg-blue-dark-1 {
  background-color: #0000e6;
}

.text-blue-dark-2 {
  color: #0000cc;
}

.text-hover-blue-dark-2:hover {
  color: #0000cc;
}

.bg-blue-dark-2 {
  background-color: #0000cc;
}

.text-blue-dark-3 {
  color: #0000b3;
}

.text-hover-blue-dark-3:hover {
  color: #0000b3;
}

.bg-blue-dark-3 {
  background-color: #0000b3;
}

.text-blue-dark-4 {
  color: #000099;
}

.text-hover-blue-dark-4:hover {
  color: #000099;
}

.bg-blue-dark-4 {
  background-color: #000099;
}

.text-blue-dark-5 {
  color: navy;
}

.text-hover-blue-dark-5:hover {
  color: navy;
}

.bg-blue-dark-5 {
  background-color: navy;
}

.text-blue-dark-6 {
  color: #000066;
}

.text-hover-blue-dark-6:hover {
  color: #000066;
}

.bg-blue-dark-6 {
  background-color: #000066;
}

.text-blue-dark-7 {
  color: #00004d;
}

.text-hover-blue-dark-7:hover {
  color: #00004d;
}

.bg-blue-dark-7 {
  background-color: #00004d;
}

.text-blue-dark-8 {
  color: #000033;
}

.text-hover-blue-dark-8:hover {
  color: #000033;
}

.bg-blue-dark-8 {
  background-color: #000033;
}

.text-blue-dark-9 {
  color: #00001a;
}

.text-hover-blue-dark-9:hover {
  color: #00001a;
}

.bg-blue-dark-9 {
  background-color: #00001a;
}

.text-red {
  color: red;
}

.text-hover-red:hover {
  color: red;
}

.bg-red {
  background-color: red;
}

.text-red-light-1 {
  color: #ff1a1a;
}

.text-hover-red-light-1:hover {
  color: #ff1a1a;
}

.bg-red-light-1 {
  background-color: #ff1a1a;
}

.text-red-light-2 {
  color: #ff3333;
}

.text-hover-red-light-2:hover {
  color: #ff3333;
}

.bg-red-light-2 {
  background-color: #ff3333;
}

.text-red-light-3 {
  color: #ff4d4d;
}

.text-hover-red-light-3:hover {
  color: #ff4d4d;
}

.bg-red-light-3 {
  background-color: #ff4d4d;
}

.text-red-light-4 {
  color: #ff6666;
}

.text-hover-red-light-4:hover {
  color: #ff6666;
}

.bg-red-light-4 {
  background-color: #ff6666;
}

.text-red-light-5 {
  color: #ff8080;
}

.text-hover-red-light-5:hover {
  color: #ff8080;
}

.bg-red-light-5 {
  background-color: #ff8080;
}

.text-red-light-6 {
  color: #ff9999;
}

.text-hover-red-light-6:hover {
  color: #ff9999;
}

.bg-red-light-6 {
  background-color: #ff9999;
}

.text-red-light-7 {
  color: #ffb3b3;
}

.text-hover-red-light-7:hover {
  color: #ffb3b3;
}

.bg-red-light-7 {
  background-color: #ffb3b3;
}

.text-red-light-8 {
  color: #ffcccc;
}

.text-hover-red-light-8:hover {
  color: #ffcccc;
}

.bg-red-light-8 {
  background-color: #ffcccc;
}

.text-red-light-9 {
  color: #ffe6e6;
}

.text-hover-red-light-9:hover {
  color: #ffe6e6;
}

.bg-red-light-9 {
  background-color: #ffe6e6;
}

.text-red-dark-1 {
  color: #e60000;
}

.text-hover-red-dark-1:hover {
  color: #e60000;
}

.bg-red-dark-1 {
  background-color: #e60000;
}

.text-red-dark-2 {
  color: #cc0000;
}

.text-hover-red-dark-2:hover {
  color: #cc0000;
}

.bg-red-dark-2 {
  background-color: #cc0000;
}

.text-red-dark-3 {
  color: #b30000;
}

.text-hover-red-dark-3:hover {
  color: #b30000;
}

.bg-red-dark-3 {
  background-color: #b30000;
}

.text-red-dark-4 {
  color: #990000;
}

.text-hover-red-dark-4:hover {
  color: #990000;
}

.bg-red-dark-4 {
  background-color: #990000;
}

.text-red-dark-5 {
  color: maroon;
}

.text-hover-red-dark-5:hover {
  color: maroon;
}

.bg-red-dark-5 {
  background-color: maroon;
}

.text-red-dark-6 {
  color: #660000;
}

.text-hover-red-dark-6:hover {
  color: #660000;
}

.bg-red-dark-6 {
  background-color: #660000;
}

.text-red-dark-7 {
  color: #4d0000;
}

.text-hover-red-dark-7:hover {
  color: #4d0000;
}

.bg-red-dark-7 {
  background-color: #4d0000;
}

.text-red-dark-8 {
  color: #330000;
}

.text-hover-red-dark-8:hover {
  color: #330000;
}

.bg-red-dark-8 {
  background-color: #330000;
}

.text-red-dark-9 {
  color: #1a0000;
}

.text-hover-red-dark-9:hover {
  color: #1a0000;
}

.bg-red-dark-9 {
  background-color: #1a0000;
}

.text-yellow {
  color: yellow;
}

.text-hover-yellow:hover {
  color: yellow;
}

.bg-yellow {
  background-color: yellow;
}

.text-yellow-light-1 {
  color: #ffff1a;
}

.text-hover-yellow-light-1:hover {
  color: #ffff1a;
}

.bg-yellow-light-1 {
  background-color: #ffff1a;
}

.text-yellow-light-2 {
  color: #ffff33;
}

.text-hover-yellow-light-2:hover {
  color: #ffff33;
}

.bg-yellow-light-2 {
  background-color: #ffff33;
}

.text-yellow-light-3 {
  color: #ffff4d;
}

.text-hover-yellow-light-3:hover {
  color: #ffff4d;
}

.bg-yellow-light-3 {
  background-color: #ffff4d;
}

.text-yellow-light-4 {
  color: #ffff66;
}

.text-hover-yellow-light-4:hover {
  color: #ffff66;
}

.bg-yellow-light-4 {
  background-color: #ffff66;
}

.text-yellow-light-5 {
  color: #ffff80;
}

.text-hover-yellow-light-5:hover {
  color: #ffff80;
}

.bg-yellow-light-5 {
  background-color: #ffff80;
}

.text-yellow-light-6 {
  color: #ffff99;
}

.text-hover-yellow-light-6:hover {
  color: #ffff99;
}

.bg-yellow-light-6 {
  background-color: #ffff99;
}

.text-yellow-light-7 {
  color: #ffffb3;
}

.text-hover-yellow-light-7:hover {
  color: #ffffb3;
}

.bg-yellow-light-7 {
  background-color: #ffffb3;
}

.text-yellow-light-8 {
  color: #ffffcc;
}

.text-hover-yellow-light-8:hover {
  color: #ffffcc;
}

.bg-yellow-light-8 {
  background-color: #ffffcc;
}

.text-yellow-light-9 {
  color: #ffffe6;
}

.text-hover-yellow-light-9:hover {
  color: #ffffe6;
}

.bg-yellow-light-9 {
  background-color: #ffffe6;
}

.text-yellow-dark-1 {
  color: #e6e600;
}

.text-hover-yellow-dark-1:hover {
  color: #e6e600;
}

.bg-yellow-dark-1 {
  background-color: #e6e600;
}

.text-yellow-dark-2 {
  color: #cccc00;
}

.text-hover-yellow-dark-2:hover {
  color: #cccc00;
}

.bg-yellow-dark-2 {
  background-color: #cccc00;
}

.text-yellow-dark-3 {
  color: #b3b300;
}

.text-hover-yellow-dark-3:hover {
  color: #b3b300;
}

.bg-yellow-dark-3 {
  background-color: #b3b300;
}

.text-yellow-dark-4 {
  color: #999900;
}

.text-hover-yellow-dark-4:hover {
  color: #999900;
}

.bg-yellow-dark-4 {
  background-color: #999900;
}

.text-yellow-dark-5 {
  color: olive;
}

.text-hover-yellow-dark-5:hover {
  color: olive;
}

.bg-yellow-dark-5 {
  background-color: olive;
}

.text-yellow-dark-6 {
  color: #666600;
}

.text-hover-yellow-dark-6:hover {
  color: #666600;
}

.bg-yellow-dark-6 {
  background-color: #666600;
}

.text-yellow-dark-7 {
  color: #4d4d00;
}

.text-hover-yellow-dark-7:hover {
  color: #4d4d00;
}

.bg-yellow-dark-7 {
  background-color: #4d4d00;
}

.text-yellow-dark-8 {
  color: #333300;
}

.text-hover-yellow-dark-8:hover {
  color: #333300;
}

.bg-yellow-dark-8 {
  background-color: #333300;
}

.text-yellow-dark-9 {
  color: #1a1a00;
}

.text-hover-yellow-dark-9:hover {
  color: #1a1a00;
}

.bg-yellow-dark-9 {
  background-color: #1a1a00;
}

.text-green {
  color: green;
}

.text-hover-green:hover {
  color: green;
}

.bg-green {
  background-color: green;
}

.text-green-light-1 {
  color: #1a8d1a;
}

.text-hover-green-light-1:hover {
  color: #1a8d1a;
}

.bg-green-light-1 {
  background-color: #1a8d1a;
}

.text-green-light-2 {
  color: #339933;
}

.text-hover-green-light-2:hover {
  color: #339933;
}

.bg-green-light-2 {
  background-color: #339933;
}

.text-green-light-3 {
  color: #4da64d;
}

.text-hover-green-light-3:hover {
  color: #4da64d;
}

.bg-green-light-3 {
  background-color: #4da64d;
}

.text-green-light-4 {
  color: #66b366;
}

.text-hover-green-light-4:hover {
  color: #66b366;
}

.bg-green-light-4 {
  background-color: #66b366;
}

.text-green-light-5 {
  color: #80c080;
}

.text-hover-green-light-5:hover {
  color: #80c080;
}

.bg-green-light-5 {
  background-color: #80c080;
}

.text-green-light-6 {
  color: #99cc99;
}

.text-hover-green-light-6:hover {
  color: #99cc99;
}

.bg-green-light-6 {
  background-color: #99cc99;
}

.text-green-light-7 {
  color: #b3d9b3;
}

.text-hover-green-light-7:hover {
  color: #b3d9b3;
}

.bg-green-light-7 {
  background-color: #b3d9b3;
}

.text-green-light-8 {
  color: #cce6cc;
}

.text-hover-green-light-8:hover {
  color: #cce6cc;
}

.bg-green-light-8 {
  background-color: #cce6cc;
}

.text-green-light-9 {
  color: #e6f2e6;
}

.text-hover-green-light-9:hover {
  color: #e6f2e6;
}

.bg-green-light-9 {
  background-color: #e6f2e6;
}

.text-green-dark-1 {
  color: #007300;
}

.text-hover-green-dark-1:hover {
  color: #007300;
}

.bg-green-dark-1 {
  background-color: #007300;
}

.text-green-dark-2 {
  color: #006600;
}

.text-hover-green-dark-2:hover {
  color: #006600;
}

.bg-green-dark-2 {
  background-color: #006600;
}

.text-green-dark-3 {
  color: #005a00;
}

.text-hover-green-dark-3:hover {
  color: #005a00;
}

.bg-green-dark-3 {
  background-color: #005a00;
}

.text-green-dark-4 {
  color: #004d00;
}

.text-hover-green-dark-4:hover {
  color: #004d00;
}

.bg-green-dark-4 {
  background-color: #004d00;
}

.text-green-dark-5 {
  color: #004000;
}

.text-hover-green-dark-5:hover {
  color: #004000;
}

.bg-green-dark-5 {
  background-color: #004000;
}

.text-green-dark-6 {
  color: #003300;
}

.text-hover-green-dark-6:hover {
  color: #003300;
}

.bg-green-dark-6 {
  background-color: #003300;
}

.text-green-dark-7 {
  color: #002600;
}

.text-hover-green-dark-7:hover {
  color: #002600;
}

.bg-green-dark-7 {
  background-color: #002600;
}

.text-green-dark-8 {
  color: #001a00;
}

.text-hover-green-dark-8:hover {
  color: #001a00;
}

.bg-green-dark-8 {
  background-color: #001a00;
}

.text-green-dark-9 {
  color: #000d00;
}

.text-hover-green-dark-9:hover {
  color: #000d00;
}

.bg-green-dark-9 {
  background-color: #000d00;
}

.text-orange {
  color: orange;
}

.text-hover-orange:hover {
  color: orange;
}

.bg-orange {
  background-color: orange;
}

.text-orange-light-1 {
  color: #ffae1a;
}

.text-hover-orange-light-1:hover {
  color: #ffae1a;
}

.bg-orange-light-1 {
  background-color: #ffae1a;
}

.text-orange-light-2 {
  color: #ffb733;
}

.text-hover-orange-light-2:hover {
  color: #ffb733;
}

.bg-orange-light-2 {
  background-color: #ffb733;
}

.text-orange-light-3 {
  color: #ffc04d;
}

.text-hover-orange-light-3:hover {
  color: #ffc04d;
}

.bg-orange-light-3 {
  background-color: #ffc04d;
}

.text-orange-light-4 {
  color: #ffc966;
}

.text-hover-orange-light-4:hover {
  color: #ffc966;
}

.bg-orange-light-4 {
  background-color: #ffc966;
}

.text-orange-light-5 {
  color: #ffd280;
}

.text-hover-orange-light-5:hover {
  color: #ffd280;
}

.bg-orange-light-5 {
  background-color: #ffd280;
}

.text-orange-light-6 {
  color: #ffdb99;
}

.text-hover-orange-light-6:hover {
  color: #ffdb99;
}

.bg-orange-light-6 {
  background-color: #ffdb99;
}

.text-orange-light-7 {
  color: #ffe4b3;
}

.text-hover-orange-light-7:hover {
  color: #ffe4b3;
}

.bg-orange-light-7 {
  background-color: #ffe4b3;
}

.text-orange-light-8 {
  color: #ffedcc;
}

.text-hover-orange-light-8:hover {
  color: #ffedcc;
}

.bg-orange-light-8 {
  background-color: #ffedcc;
}

.text-orange-light-9 {
  color: #fff6e6;
}

.text-hover-orange-light-9:hover {
  color: #fff6e6;
}

.bg-orange-light-9 {
  background-color: #fff6e6;
}

.text-orange-dark-1 {
  color: #e69500;
}

.text-hover-orange-dark-1:hover {
  color: #e69500;
}

.bg-orange-dark-1 {
  background-color: #e69500;
}

.text-orange-dark-2 {
  color: #cc8400;
}

.text-hover-orange-dark-2:hover {
  color: #cc8400;
}

.bg-orange-dark-2 {
  background-color: #cc8400;
}

.text-orange-dark-3 {
  color: #b37400;
}

.text-hover-orange-dark-3:hover {
  color: #b37400;
}

.bg-orange-dark-3 {
  background-color: #b37400;
}

.text-orange-dark-4 {
  color: #996300;
}

.text-hover-orange-dark-4:hover {
  color: #996300;
}

.bg-orange-dark-4 {
  background-color: #996300;
}

.text-orange-dark-5 {
  color: #805300;
}

.text-hover-orange-dark-5:hover {
  color: #805300;
}

.bg-orange-dark-5 {
  background-color: #805300;
}

.text-orange-dark-6 {
  color: #664200;
}

.text-hover-orange-dark-6:hover {
  color: #664200;
}

.bg-orange-dark-6 {
  background-color: #664200;
}

.text-orange-dark-7 {
  color: #4d3200;
}

.text-hover-orange-dark-7:hover {
  color: #4d3200;
}

.bg-orange-dark-7 {
  background-color: #4d3200;
}

.text-orange-dark-8 {
  color: #332100;
}

.text-hover-orange-dark-8:hover {
  color: #332100;
}

.bg-orange-dark-8 {
  background-color: #332100;
}

.text-orange-dark-9 {
  color: #1a1100;
}

.text-hover-orange-dark-9:hover {
  color: #1a1100;
}

.bg-orange-dark-9 {
  background-color: #1a1100;
}

.text-purple {
  color: purple;
}

.text-hover-purple:hover {
  color: purple;
}

.bg-purple {
  background-color: purple;
}

.text-purple-light-1 {
  color: #8d1a8d;
}

.text-hover-purple-light-1:hover {
  color: #8d1a8d;
}

.bg-purple-light-1 {
  background-color: #8d1a8d;
}

.text-purple-light-2 {
  color: #993399;
}

.text-hover-purple-light-2:hover {
  color: #993399;
}

.bg-purple-light-2 {
  background-color: #993399;
}

.text-purple-light-3 {
  color: #a64da6;
}

.text-hover-purple-light-3:hover {
  color: #a64da6;
}

.bg-purple-light-3 {
  background-color: #a64da6;
}

.text-purple-light-4 {
  color: #b366b3;
}

.text-hover-purple-light-4:hover {
  color: #b366b3;
}

.bg-purple-light-4 {
  background-color: #b366b3;
}

.text-purple-light-5 {
  color: #c080c0;
}

.text-hover-purple-light-5:hover {
  color: #c080c0;
}

.bg-purple-light-5 {
  background-color: #c080c0;
}

.text-purple-light-6 {
  color: #cc99cc;
}

.text-hover-purple-light-6:hover {
  color: #cc99cc;
}

.bg-purple-light-6 {
  background-color: #cc99cc;
}

.text-purple-light-7 {
  color: #d9b3d9;
}

.text-hover-purple-light-7:hover {
  color: #d9b3d9;
}

.bg-purple-light-7 {
  background-color: #d9b3d9;
}

.text-purple-light-8 {
  color: #e6cce6;
}

.text-hover-purple-light-8:hover {
  color: #e6cce6;
}

.bg-purple-light-8 {
  background-color: #e6cce6;
}

.text-purple-light-9 {
  color: #f2e6f2;
}

.text-hover-purple-light-9:hover {
  color: #f2e6f2;
}

.bg-purple-light-9 {
  background-color: #f2e6f2;
}

.text-purple-dark-1 {
  color: #730073;
}

.text-hover-purple-dark-1:hover {
  color: #730073;
}

.bg-purple-dark-1 {
  background-color: #730073;
}

.text-purple-dark-2 {
  color: #660066;
}

.text-hover-purple-dark-2:hover {
  color: #660066;
}

.bg-purple-dark-2 {
  background-color: #660066;
}

.text-purple-dark-3 {
  color: #5a005a;
}

.text-hover-purple-dark-3:hover {
  color: #5a005a;
}

.bg-purple-dark-3 {
  background-color: #5a005a;
}

.text-purple-dark-4 {
  color: #4d004d;
}

.text-hover-purple-dark-4:hover {
  color: #4d004d;
}

.bg-purple-dark-4 {
  background-color: #4d004d;
}

.text-purple-dark-5 {
  color: #400040;
}

.text-hover-purple-dark-5:hover {
  color: #400040;
}

.bg-purple-dark-5 {
  background-color: #400040;
}

.text-purple-dark-6 {
  color: #330033;
}

.text-hover-purple-dark-6:hover {
  color: #330033;
}

.bg-purple-dark-6 {
  background-color: #330033;
}

.text-purple-dark-7 {
  color: #260026;
}

.text-hover-purple-dark-7:hover {
  color: #260026;
}

.bg-purple-dark-7 {
  background-color: #260026;
}

.text-purple-dark-8 {
  color: #1a001a;
}

.text-hover-purple-dark-8:hover {
  color: #1a001a;
}

.bg-purple-dark-8 {
  background-color: #1a001a;
}

.text-purple-dark-9 {
  color: #0d000d;
}

.text-hover-purple-dark-9:hover {
  color: #0d000d;
}

.bg-purple-dark-9 {
  background-color: #0d000d;
}

.text-gray {
  color: gray;
}

.text-hover-gray:hover {
  color: gray;
}

.bg-gray {
  background-color: gray;
}

.text-gray-light-1 {
  color: #8d8d8d;
}

.text-hover-gray-light-1:hover {
  color: #8d8d8d;
}

.bg-gray-light-1 {
  background-color: #8d8d8d;
}

.text-gray-light-2 {
  color: #999999;
}

.text-hover-gray-light-2:hover {
  color: #999999;
}

.bg-gray-light-2 {
  background-color: #999999;
}

.text-gray-light-3 {
  color: #a6a6a6;
}

.text-hover-gray-light-3:hover {
  color: #a6a6a6;
}

.bg-gray-light-3 {
  background-color: #a6a6a6;
}

.text-gray-light-4 {
  color: #b3b3b3;
}

.text-hover-gray-light-4:hover {
  color: #b3b3b3;
}

.bg-gray-light-4 {
  background-color: #b3b3b3;
}

.text-gray-light-5 {
  color: silver;
}

.text-hover-gray-light-5:hover {
  color: silver;
}

.bg-gray-light-5 {
  background-color: silver;
}

.text-gray-light-6 {
  color: #cccccc;
}

.text-hover-gray-light-6:hover {
  color: #cccccc;
}

.bg-gray-light-6 {
  background-color: #cccccc;
}

.text-gray-light-7 {
  color: #d9d9d9;
}

.text-hover-gray-light-7:hover {
  color: #d9d9d9;
}

.bg-gray-light-7 {
  background-color: #d9d9d9;
}

.text-gray-light-8 {
  color: #e6e6e6;
}

.text-hover-gray-light-8:hover {
  color: #e6e6e6;
}

.bg-gray-light-8 {
  background-color: #e6e6e6;
}

.text-gray-light-9 {
  color: #f2f2f2;
}

.text-hover-gray-light-9:hover {
  color: #f2f2f2;
}

.bg-gray-light-9 {
  background-color: #f2f2f2;
}

.text-gray-dark-1 {
  color: #737373;
}

.text-hover-gray-dark-1:hover {
  color: #737373;
}

.bg-gray-dark-1 {
  background-color: #737373;
}

.text-gray-dark-2 {
  color: #666666;
}

.text-hover-gray-dark-2:hover {
  color: #666666;
}

.bg-gray-dark-2 {
  background-color: #666666;
}

.text-gray-dark-3 {
  color: #5a5a5a;
}

.text-hover-gray-dark-3:hover {
  color: #5a5a5a;
}

.bg-gray-dark-3 {
  background-color: #5a5a5a;
}

.text-gray-dark-4 {
  color: #4d4d4d;
}

.text-hover-gray-dark-4:hover {
  color: #4d4d4d;
}

.bg-gray-dark-4 {
  background-color: #4d4d4d;
}

.text-gray-dark-5 {
  color: #404040;
}

.text-hover-gray-dark-5:hover {
  color: #404040;
}

.bg-gray-dark-5 {
  background-color: #404040;
}

.text-gray-dark-6 {
  color: #333333;
}

.text-hover-gray-dark-6:hover {
  color: #333333;
}

.bg-gray-dark-6 {
  background-color: #333333;
}

.text-gray-dark-7 {
  color: #262626;
}

.text-hover-gray-dark-7:hover {
  color: #262626;
}

.bg-gray-dark-7 {
  background-color: #262626;
}

.text-gray-dark-8 {
  color: #1a1a1a;
}

.text-hover-gray-dark-8:hover {
  color: #1a1a1a;
}

.bg-gray-dark-8 {
  background-color: #1a1a1a;
}

.text-gray-dark-9 {
  color: #0d0d0d;
}

.text-hover-gray-dark-9:hover {
  color: #0d0d0d;
}

.bg-gray-dark-9 {
  background-color: #0d0d0d;
}

.text-black {
  color: black;
}

.text-hover-black:hover {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.card {
  display: block;
  padding: 0.75rem;
  background-color: #DBE0FF;
  border: 1px solid #767EB3;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #767EB3;
}
.btn-primary:hover {
  background-color: #868dbc;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #767EB3;
}
.btn-outlined-primary:hover {
  background-color: #767EB3;
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #767EB3;
  color: #eae7d8;
}
.btn-complement-primary:hover {
  color: #767EB3;
  background-color: #eae7d8;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #DBE0FF;
}
.btn-secondary:hover {
  background-color: #f5f6ff;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #DBE0FF;
}
.btn-outlined-secondary:hover {
  background-color: #DBE0FF;
}

.btn-complement-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #DBE0FF;
  color: white;
}
.btn-complement-secondary:hover {
  color: #DBE0FF;
  background-color: white;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #CF2543;
}
.btn-error:hover {
  background-color: #db3351;
}

.btn-outlined-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #CF2543;
}
.btn-outlined-error:hover {
  background-color: #CF2543;
}

.btn-complement-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #CF2543;
  color: #9feee0;
}
.btn-complement-error:hover {
  color: #CF2543;
  background-color: #9feee0;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #FFBF75;
}
.btn-info:hover {
  background-color: #ffcb8f;
}

.btn-outlined-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #FFBF75;
}
.btn-outlined-info:hover {
  background-color: #FFBF75;
}

.btn-complement-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #FFBF75;
  color: white;
}
.btn-complement-info:hover {
  color: #FFBF75;
  background-color: white;
}

.btn-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: blue;
}
.btn-blue:hover {
  background-color: #1a1aff;
}

.btn-outlined-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid blue;
}
.btn-outlined-blue:hover {
  background-color: blue;
}

.btn-complement-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: blue;
  color: #ffff99;
}
.btn-complement-blue:hover {
  color: blue;
  background-color: #ffff99;
}

.btn-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: red;
}
.btn-red:hover {
  background-color: #ff1a1a;
}

.btn-outlined-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid red;
}
.btn-outlined-red:hover {
  background-color: red;
}

.btn-complement-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: red;
  color: #99ffff;
}
.btn-complement-red:hover {
  color: red;
  background-color: #99ffff;
}

.btn-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: yellow;
}
.btn-yellow:hover {
  background-color: #ffff1a;
}

.btn-outlined-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid yellow;
}
.btn-outlined-yellow:hover {
  background-color: yellow;
}

.btn-complement-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: yellow;
  color: #9999ff;
}
.btn-complement-yellow:hover {
  color: yellow;
  background-color: #9999ff;
}

.btn-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: green;
}
.btn-green:hover {
  background-color: #009a00;
}

.btn-outlined-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid green;
}
.btn-outlined-green:hover {
  background-color: green;
}

.btn-complement-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: green;
  color: #ff1aff;
}
.btn-complement-green:hover {
  color: green;
  background-color: #ff1aff;
}

.btn-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: orange;
}
.btn-orange:hover {
  background-color: #ffae1a;
}

.btn-outlined-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid orange;
}
.btn-outlined-orange:hover {
  background-color: orange;
}

.btn-complement-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: orange;
  color: #99bdff;
}
.btn-complement-orange:hover {
  color: orange;
  background-color: #99bdff;
}

.btn-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: purple;
}
.btn-purple:hover {
  background-color: #9a009a;
}

.btn-outlined-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid purple;
}
.btn-outlined-purple:hover {
  background-color: purple;
}

.btn-complement-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: purple;
  color: #1aff1a;
}
.btn-complement-purple:hover {
  color: purple;
  background-color: #1aff1a;
}

.btn-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: gray;
}
.btn-gray:hover {
  background-color: #8d8d8d;
}

.btn-outlined-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid gray;
}
.btn-outlined-gray:hover {
  background-color: gray;
}

.btn-complement-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: gray;
  color: #cdcdcd;
}
.btn-complement-gray:hover {
  color: gray;
  background-color: #cdcdcd;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: black;
}
.btn-black:hover {
  background-color: #0d0d0d;
}

.btn-outlined-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid black;
}
.btn-outlined-black:hover {
  background-color: black;
}

.btn-complement-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: black;
  color: #4d4d4d;
}
.btn-complement-black:hover {
  color: black;
  background-color: #4d4d4d;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
}
.btn-white:hover {
  background-color: white;
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid white;
}
.btn-outlined-white:hover {
  background-color: white;
}

.btn-complement-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  color: white;
}
.btn-complement-white:hover {
  color: white;
  background-color: white;
}

.navbar .container, .navbar-white .container, .navbar-black .container, .navbar-gray .container, .navbar-purple .container, .navbar-orange .container, .navbar-green .container, .navbar-yellow .container, .navbar-red .container, .navbar-blue .container, .navbar-info .container, .navbar-error .container, .navbar-secondary .container, .navbar-primary .container, .navbar, .navbar-white, .navbar-black, .navbar-gray, .navbar-purple, .navbar-orange, .navbar-green, .navbar-yellow, .navbar-red, .navbar-blue, .navbar-info, .navbar-error, .navbar-secondary, .navbar-primary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar, .navbar-white, .navbar-black, .navbar-gray, .navbar-purple, .navbar-orange, .navbar-green, .navbar-yellow, .navbar-red, .navbar-blue, .navbar-info, .navbar-error, .navbar-secondary, .navbar-primary {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.navbar .site-title, .navbar-white .site-title, .navbar-black .site-title, .navbar-gray .site-title, .navbar-purple .site-title, .navbar-orange .site-title, .navbar-green .site-title, .navbar-yellow .site-title, .navbar-red .site-title, .navbar-blue .site-title, .navbar-info .site-title, .navbar-error .site-title, .navbar-secondary .site-title, .navbar-primary .site-title {
  font-size: 1.5rem;
}
.navbar-primary {
  background-color: #767EB3;
}

.navbar-secondary {
  background-color: #DBE0FF;
}

.navbar-error {
  background-color: #CF2543;
}

.navbar-info {
  background-color: #FFBF75;
}

.navbar-blue {
  background-color: blue;
}

.navbar-red {
  background-color: red;
}

.navbar-yellow {
  background-color: yellow;
}

.navbar-green {
  background-color: green;
}

.navbar-orange {
  background-color: orange;
}

.navbar-purple {
  background-color: purple;
}

.navbar-gray {
  background-color: gray;
}

.navbar-black {
  background-color: black;
}

.navbar-white {
  background-color: white;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4.5rem;
}

.p-5 {
  padding: 6rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.pl-5 {
  padding-left: 6rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pr-5 {
  padding-right: 6rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pt-5 {
  padding-top: 6rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 20px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 5px;
}

.br-sm {
  border-radius: 10px;
}

.br-lg {
  border-radius: 40px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}